doctype html
html
    head
        title liveview test
        link(rel="stylesheet", href="/stylesheets/style.css")
        script(src="/socket.io/socket.io.js")
        script(src="/lib/react/react.min.js")

    body
        block content

        script(src="/javascripts/bundle.js")
